.login-body {
    top: 32%;
    left: 33%;
    padding: 2% 5% 0 5%;
    border: 0px solid black;
    border-radius: 25px;
    height: auto;
    width: auto;
    /* top: 15%; */
    background: white;
    position: absolute;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(179, 179, 179),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.button-2 {
    margin: 45px 3px;
    width: 8vw;
    height: 5vh;
    background-color: #ffffff;
    border-radius: 25px;
    border-color: #b9b9b9;
    color: rgb(61, 61, 61);
    font-size: 2.5vh;      
}

input.login {
    width: 240px;
    height: 40px;
    border-radius: 25px;
    padding: 3px 10px;
}
