
.sidebar {
    float: left;
    width: 30%;
    height: 800px;
    background-color: #0297a2;
    text-align: center;
  }

.profilepic {
    width: 100px;
    border-radius: 50%;
}

.clientpic {
    width: 150px;
}

.sidebutton {
    margin: 0 auto;
    background-color: #0297a2;
    color: white;
    width: 13vw;
    height: 8vh;
    border-color: white;
    font-size: 2vh;
    /* display:inline; */
    /* padding: 0; */
    /* display: block; */
    display: flex ;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
    /* text-align: center; */
    /* padding-top: 20px; */
    /* vertical-align: middle; */
    text-align: center;
}

.active {
    background-color: #056771;
    color: white;
    border-color: white;
}

.ul_class {
    /* align-items: center; */
    /* margin: 0; */
    display: inline-table;
    padding: 30px 0 0 0;
}

.center_block {
    text-align: center;
}

.topbanner {
    z-index:1;
    background-color: #f36d21;
    width: 100%;
    height: 8%;
    position: fixed;
    overflow: hidden;
}

.contentbody {
  top: 15%;
  padding: 20px 10px 20px 10px;
  border: 3px solid black;
  border-radius: 25px;
  height: auto;
  width: 60vw;
  /* top: 15%; */
  left: 35%;
  background: white;
  position: absolute;
}

.sidebar {
    z-index:1;
    position: fixed;
    top: 8%;
    height:100%;
    border-right:2px solid black;
    border-top:1px solid black;

}

.backgroundpic{
    position:fixed;
    width: 70%;
    height: 100%;
    left: 30%;
    filter: contrast(0.5)
}



.infocontainer{
    flex:2;
    display:flex;
    flex-direction: column;
    width: 40%;
}

.forminfo {
    margin: 2px 0;
}

.profiletext {
    color: #fc9154;
    width: auto;
    text-align: center;
    height: 32px;
    margin-bottom: 4.7px;
    margin-right: 15px;
    
    /* outline: none; */
}

.profile-container {
    width: auto;
    height: auto;
}

input.test {
    width: 150px;
    height: auto;
    border-radius: 25px;
    border: 2px solid rgb(39, 39, 39);
    color: rgb(39, 39, 39);
    padding: 0 0 0 5px;
    margin-bottom: 8px;
}

.table.list th, .table.list td {
    vertical-align: middle;
}