
/* Alligning the images on the page */
.image-container {
 
}

.image_BG {
    /* adjustable to fit better at final stages VH is Viewpoint height */
    width: 45vh;
    height: 50vh;
    padding: 2px;
}