
/* Alligning the images on the page */
.image-container {
    display:flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 50vh;
    width: 57vw;
    justify-content: center;
    align-content: center;   
    /* position: static; */
}

.frontLegs{
    /* margin-left:; */
    flex:2;
}

.backLegs{
    flex:2;
}


.image_BG {
    opacity: 0.3;
    position: absolute;
}

.front {
    
    position: absolute;
}

.back {
    position:absolute;
    
}

.legs {
    /* adjustable to fit better at final stages VH is Viewpoint height */
    width: 45%;
    height: 45vh;
}

.nonAthleteMenu {
    background-color: blueviolet;
    color: blueviolet;
}

.heatmapbutton {
    margin: 0 3px;
    width: 17%;
    height: 100%;
    background-color: #fc9154;
    border-radius: 15px;
    border-color: black;
    font-size: 2vh;
}

.buttonContainer{
    flex:1;
    height:20%;
    display: flex;
    margin-top: 0;
    width: 55vw;
    justify-content: center;
    align-content: center;
    
}

.textBox {
    margin-top: 1%;
    flex:2;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 55vw;
}

.timeControl {
    width: 58vw;
    height: 20vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;   
}

.dataContainer {
    flex:1;
    display: flex;
    justify-content: center;
    align-content: center;  
}

.dataText {
    /* word-break: normal; */
    white-space: pre-line;
    width: auto;
    margin: 0 4px;
    flex: 1;
    text-align: center;
    /* color: blueviolet; */
}


/* .q_right {
    1
    filter: hue-rotate(300deg) saturate(200%);
}

.q_left {
    2
    filter: hue-rotate(0deg) saturate(200%) brightness(90%);
}

.r_right {
    3
    filter: hue-rotate(90deg) saturate(200%);
}

.r_left {
    4
    filter: hue-rotate(30deg) saturate(200%);
} */